.home
    &__banner
    &__cards
        max-width: 96rem
        margin: 12.4rem auto
    &__about
        max-width: 96rem
        margin: 12.4rem auto
    &__form
        max-width: 96rem
        margin: 12.4rem auto
        padding: 3.5rem 0
        &-wrapper
            background: #F8F6FA
