.about-panel
    display: flex
    flex-wrap: wrap
    &__info
        margin-right: 9rem

.info
    &__hashtag
        color: #7000FF
        font-size: 16px
        line-height: 24px
        letter-spacing: -0.02em
        text-transform: uppercase
        margin-bottom: 1.6rem
    &__heading
        width: 30rem
        font-weight: 700
        font-size: 36px
        line-height: 54px
        letter-spacing: -0.02em
        color: #2B0955
        margin-bottom: 1.6rem
    &__text
        max-width: 44rem
        font-size: 16px
        line-height: 24px
        letter-spacing: -0.02em
        color: #363636
        margin-bottom: 1.6rem
        span
            color: #7000FF
            font-weight: bold

.burger-shapeImg
    margin-top: -30rem