.header
    padding: 0 11.9rem
    height: 7rem
    display: flex
    align-items: center
    &__logo
        width: 8.6rem
        height: 3.3rem
        margin-right: 40rem
    &__list
    &__icons
        margin-left: auto

.list
    display: flex
    flex-wrap: wrap
    align-items: center
    &__item
        padding: .2rem
        &:not(:last-child)
            margin-right: 10rem
        &:hover
            background: red
            transform: scale(1.1)
            transition: all .4s ease
            color: white
.icons
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 2.4rem
    &__item
        display: flex
        align-items: center
        width: 2.4rem
        height: 2.8rem
