@import '../../styles/variables/variables.sass'
@import '../../styles/mixins/mixins.sass'

.banner
    background: #2B0955
.banner-wrapped
    display: flex
    flex-wrap: wrap
    @include respond($breakpoint: laptopL)
        justify-content: center
    &__text
        padding: 6rem 0rem
        margin-left: 24rem
        max-width: 57rem
        color: $main-white
        @include respond($breakpoint: laptopL)
            margin-left: 4rem
    &__image
        position: relative
        top: 80px
        @include respond($breakpoint: laptopL)
            top: 0
        @include respond($breakpoint: phoneL)
            top: 80px
            margin-top: -170px
        img
            @include respond($breakpoint: phoneL)
                height: 500px
                width: 500px
                object-fit: cover
.textBlock
    &__info
        max-width: 45rem
        font-size: 18px
        line-height: 27px
        letter-spacing: -0.02em
        margin-bottom: 2.6rem
        span
            color: $main-yellow
            font-weight: bold
    &__btns
        display: flex
        flex-wrap: wrap
        gap: 2rem
